<html>
    <head>
        <title> 
            <%= @title %> 
        </title>
    </head>
    <body>
        <div class="page">
            <div id="header">
                <div id="branding">
                    <!-- TO DO -->
                </div>
                <div id="search">
                    <!-- TO DO -->
                </div>
            </div>
            <div id="navigationTabs">
                <!-- TO DO -->
            </div>
            <div id="content">
                <%= @content_for_layout %>
            </div>
            <div id="footer">
                <!-- TO DO -->
            </div>
        </div>
    </body>
</html>
