body {
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: small;
    background-color: #edecec;
    padding-left: 3em;
    padding-right: 3em;
    
}

#header {
    
}

#title {
    float: left;
    font-size: smaller;
    font-family: serif;
    padding-left: 2em;
    padding-right: 2em;
}

#search {
    margin-top: 0.5em;
    float: right;
    margin-right: 2em;
}

#search-text {
    font-size: smaller;
    padding: 0.2em;
    font-style: italic;
    font-family: serif;
    font-weight: bolder;
}

#body {
    clear: both;
    padding-left: 2em;
    padding-right: 2em;
    
}


#tabs {
    float: left;
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 0px;
    list-style: none;
    padding: 0;
}

#tabs li {
    float: left;
    margin: 0; 
    display: inline;
    list-style-type: none;
    line-height: 1.5em;
}

#tabs a {
    float: left;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-bottom: 0px;
    background: #f3f3f3;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    color: #666;
    margin-right: 0.5em;
}

#tabs a:hover, #tabs li.active a {
    background: #fff;
    
}

#content {
    clear: both;
    background-color: white;
    margin-top: -15px;
    
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 3em;
    
}

#footer {
    padding-top: 2em;
    padding-bottom: 3em;
    clear: both;
    text-align: center;
    font-size: x-small;
}
