RewriteEngine On
RewriteBase /
RewriteRule content/text/(.+) content/text.php5?name=$1

RewriteRule bib/([a-z]+)s/([0-9]+) bib/$1.php5?id=$2

RewriteRule bib/([a-zA-Z]+)s/index bib/$1s.php5

RewriteRule bib/index bib/index.php5

