<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
       http://www.directwebremoting.org/schema/spring-dwr
       http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd" default-autowire="byName">  
    
    
    
    <!-- *our* security services -->
    <bean id="systemUserManagementService" class="org.authorsite.security.SystemUserManagementServiceImpl"/>
    <bean id="systemUserAclManager" class="org.authorsite.security.SystemUserAclManagerImpl"/>
    
    <!-- our domain services -->
    <bean id="individualAclManager" class="org.authorsite.domain.service.IndividualAclManagerImpl" />
    <bean id="individualManagementService" class="org.authorsite.domain.service.IndividualManagementServiceImpl">
        <dwr:remote javascript="IndividualManagementService"/>
    </bean>
    <bean id="collectiveManagementService" class="org.authorsite.domain.service.CollectiveManagementServiceImpl"/>    
    
</beans>