<?xml version="1.0" encoding="UTF-8"?>
<!-- defines spring context for Spring MVC -->
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
    
    <bean id="homeIndexController" class="org.authorsite.web.mvc.controllers.HomeIndexController">
        <property name="cacheSeconds" value="600"/>
        <property name="supportedMethods" value="GET"/>
    </bean>
    
   <bean id="individualsIndexController" class="org.authorsite.web.mvc.controllers.IndividualsIndexController">
       <property name="cacheSeconds" value="600"/>
       <property name="supportedMethods" value="GET"/>
   </bean>
   
   <bean id="individualsViewController" class="org.authorsite.web.mvc.controllers.IndividualsViewController">
       <property name="cacheSeconds" value="600"/>
       <property name="supportedMethods" value="GET"/>
   </bean>
   
   <bean id="loginController" class="org.authorsite.web.mvc.controllers.LoginController">
       <property name="cacheSeconds" value="600"/>
       <property name="supportedMethods" value="GET"/>
   </bean>
    
    <bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    
    
    
    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <value>
                /index=homeIndexController
                /auth/login=loginController
                /people/indidividuals/index=individualsIndexController
                /people/individuals/*=individualsViewController
            </value>
        </property>
    </bean>
    
</beans>